body{
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
    margin: 0;
    padding: 30px;
}

h1{
    color: darkgreen;
}

h2{
    color: #333;
}

p{
    color: #666;
    font-size: 18px;
}

button{
    background-color: darkgreen;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover{
    background-color: green;
}